<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Submitted</title>
</head>
<body>
  <h1><b>Application submitted successfully !</b></h1>
  <h3>
    Name: {{application['full_name']}}
  </h3>
  <h3>
    Email: {{application['email']}}
  </h3>
  <h3>
    Linkedin: {{application['linkedin']}}
  </h3>
  <h3>
    Education: {{application['education']}}
  </h3>
  <h3>
    Work Experience: {{application['experience']}}
  </h3>
  <h3>
    Resume Link: {{application['resume_url']}}
  </h3>
  
</body>
</html>